<!DOCTYPE html>
<html>
<head>
  <title>Invertavera -- The Music Game of Inverted Biographies</title>
  <script src="https://rdio.com/api/api.js?client_id=i3iSfNF0iMD8thzr04Y3mg"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
